:root{
    --primary-color: rgb(19, 25, 33);
    --secondary-color: rgb(254, 189, 105);
    --tertiary-color: rgb(240, 136, 4);
    --quaternary-color: rgb(255, 255, 255);
    --quinary-color: rgb(35, 47, 62);
    --senary-color: rgb(15, 17, 17);
    --seprator-color: #d5dbdb;
    --aside-hover-color : #eaeded;
    --close-color: rgb(114, 114, 114);
    --hover-mobile-link-drop-down: rgb(38, 50, 63);
    --border-product-color: rgb(231, 231, 231);
    --product-rating-count: #017cb6;
    --add-cart:  rgb(255, 216, 20);
    --clr-top-footer : #37475A;
}
html{
    scroll-behavior: smooth;
}
*,*::after,*::before{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    /* height: 400vh; */
    /* background-color: red; */
}
button{
    cursor: pointer;
    border: none;
}
.none{display: none !important;}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
header .top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-inline: 15px;
}
header .bottom-header{
    display: flex;
    background-color: var(--quinary-color);
    align-items: center;
    height: 40px;
    padding-left: 15px;
}




/* NOTE:style top header */
   
header .amazon-logo img{
    width: 100px;
    margin-top: 5px;
}
header .amazon-logo .amazon-link{
    display: block;
    width: 100%;
    padding: 6px;
}
header .amazon-logo .amazon-link:hover{
    border: 1px solid var(--quaternary-color);
}
header .amazon-logo .mobile-logo{
    display: none;
}
header .search-bar{
    display: flex;
    flex: 1 1 0%;
    max-width: 850px;
    margin-inline: 10px;
    /* background-color: red; */
}
header .search-bar .input-search-bar{
    flex: 1 1;
    width: 0;
    height: 38px;
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 1px 2px 1px 15px;
    font-size: 1.1em;

}
header .search-bar .search-button{
    border: none;
    cursor: pointer;
    padding:  1px 6px;
    background-color: var(--secondary-color);
    width: 45px;
    border-radius: 0 4px 4px 0;
    height: 38px;
}
header .top-header .shopping{
    display: flex;
    flex-basis: 180px;
    align-items: center;
    justify-content: end;
}
header .top-header .hamburger-menu{
    display: none;
}
header .top-header .hamburgerMenu-drop-down{
    display: none;
}


header .shopping .orders-links{
    color: var(--quaternary-color);
    text-decoration: none;
    padding: 6px;
    flex: 0.25;
}
header .shopping .orders-links:hover{
    border: 1px solid var(--quaternary-color);
}
header .shopping .cart-link{
    display: flex;
    align-items: center;
    position: relative;
    flex: 0.75;
}
header .shopping .cart-link{
    text-decoration: none;
    color: var(--quaternary-color);
    padding: 6px;
}
header .shopping .cart-link:hover{
    border: 1px solid var(--quaternary-color)
}
header .shopping .cart-link .shopping-icon{
    width: 50px;
}
header .shopping .cart-link .cart-quantity{
    color: var(--tertiary-color);
    position: absolute;
    top: 8px;
    left: 30px;
    font-size: 0.8em;
}



/* NOTE: style bottom-header */
header .bottom-header>a{
    text-decoration: none;
    color: var(--quaternary-color);
    padding: 11px;
    display: block;
    white-space: nowrap;
    transition: all 2s ease-in;
}
header .bottom-header a:not(.sign-in-aside):hover{
    border: 1px solid var(--quaternary-color);
}



/* NOTE: style sub-all */
header .bottom-header .sub-all{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
}
header .bottom-header .sub-all>div{
    line-height: 20px;
}
header .bottom-header .sub-all a{
    text-decoration: none;
    display: block;
    color: var(--senary-color);
    padding: 11px;
}
header .bottom-header .sub-all .container-hello-sign-in{
    background-color: var(--quinary-color);
    padding: 4px 30px;
}
header .bottom-header .sub-all .sign-in-aside{
    font-weight: bolder;
    font-size: 1.8em;
    color: var(--quaternary-color);
}

/* NOTE:hmenu-content container */
header .bottom-header .sub-all .hmenu-content{
    color: var(--senary-color);
    background-color: var(--quaternary-color);
}
header .bottom-header .sub-all .hmenu-content div{
    padding: 11px;
    font-weight: bolder;
}
header .bottom-header .sub-all .hmenu-content>ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}
header .bottom-header .sub-all .hmenu-content>ul>li{
    /* background-color: red; */
    display: block;
}
header .bottom-header .sub-all a:not(.sign-in-aside):hover{
    border: none;
    background-color: var(--aside-hover-color);
}
header .bottom-header .sub-all .hmenu-seprartor{
    border: 1px solid var(--seprator-color);
    padding: 0;
    margin-block: 5px;
}


/* NOTE: style close krdne sub-all */
.close{
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 200;
}
.close>i{
    color: var(--close-color);
    font-size: 20px;
    cursor: pointer;
}


/* NOTE: style content body */
main{
    padding-top: 100px;
}
main .row{
    display: flex;
    flex-wrap: wrap;
}
main .row .product-container{
    flex: 0 0 16.66667%;
}
main .row .product-container{
    padding:  40px 25px 25px;
    border:1px solid var(--border-product-color);
    display: flex;
    flex-direction: column;
}
main .row .product-container .product-image-container{
    display: flex;
    justify-content: center;
    height: 180px;
    margin-bottom: 20px;
    /* background-color: red; */
}
main .row .product-container .product-image-container>img{
    max-width: 100%;
    max-height: 100%;
}
main .row .product-container .product-name{
    margin-bottom: 5px;
}
main .row .product-container .product-rating-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
main .row .product-container .product-rating-container .product-rating-stars{
    width: 100px;
    margin-right: 6px;
}
main .row .product-container .product-rating-container .product-rating-count{
    color: var(--product-rating-count);
}
main .row .product-container .product-price{
    font-weight: bolder;
    margin-bottom: 10px;
}
main .row .product-container .product-quantity{
    margin-bottom: 15px;
}
main .row .product-container .product-quantity select{
    padding: 3px 5px;
}
main .row .product-container .added-to-cart-message{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: rgb(6, 125, 98);
}
main .row .product-container .added-to-cart-message>img{
    height: 20px;
    margin-right: 5px;
}
main .row .product-container .product-space{
    height: 144px;
}
main .row .product-container .add-to-cart-button{
    width: 100%;
    padding: 8px;
    border-radius: 50px;
    background-color: var(--add-cart);
    border: 1px solid rgb(252, 210, 0);
}
main .row .product-container .add-to-cart-button:hover{
    box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
    background-color: rgb(247, 202, 0);
    border: 1px solid rgb(242, 194, 0);
}

/* NOTE: style footer */
footer .footer-top{
    background-color: var(--clr-top-footer);
}
footer .footer-top>a{
    color: var(--quaternary-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: all 1s ease-in;
    padding-block: 15px;
}
footer .footer-top>a:hover{
    background-color: #485769;
}
footer .footer-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    background-color: var(--quinary-color);
    gap: 100px;
}
footer .footer-bottom>div{
    display: flex;
    flex: 0 0 20%;
    flex-direction: column;
    padding-inline: 10px;
    color: var(--quaternary-color);
}
footer .footer-bottom div .header-container{
    font-weight: bolder;
    margin-block: 6px 14px;
}
footer .footer-bottom>div ul{
    list-style: none;
    padding: 0;
}
footer .footer-bottom>div ul>li:not(:last-child){
    margin-bottom: 10px;
}
footer .footer-bottom>div ul>li>a{
    color: var(--quaternary-color);
    text-decoration: none;
}
footer .footer-bottom>div ul>li>a:hover{
    text-decoration: underline;
}




/*NOTE: responsive */



/* NOTE: responsive 1200px */
@media screen and (max-width: 1200px){
    header .bottom-header{
        overflow: auto;
    }
    main .row .product-container{
        flex: 0 0 20%;
    }
}


/* NOTE: responsive 1000px */
@media screen and (max-width: 1000px){
    main .row .product-container{
        flex: 0 0 25%;
    }
    footer .footer-bottom{
        justify-content: space-between;
        gap: 0;
    }
    footer .footer-bottom>div{
        flex: 0 0 35%;
    }

}



/* NOTE: respnsive 774px */
@media screen and (max-width: 774px) {
    header .bottom-header{
        overflow: auto;
    }
    header .bottom-header{
        padding: 0;
        overflow-x: auto;
    }
    main .row .product-container{
        flex: 0 0 33.33%;
    }
}


/* NOTE: responsive 580px */
@media screen and (max-width: 580px){
    header{
        height: 60px;
    }
    header .top-header .shopping{
        display: none;
    }
    header .top-header .hamburger-menu{
        display: block;
    }
    header .top-header .hamburgerMenu-drop-down{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: var(--primary-color);
        z-index: 100;
        transition: height 1s;
    }
    header .top-header .hamburgerMenu-drop-down>a{
        color: var(--quaternary-color);
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 10px;
        font-weight: bolder;
        text-align: center;
    }
    header .top-header .hamburgerMenu-drop-down>a:hover{
        background-color: var(--hover-mobile-link-drop-down);
    }
    header .top-header .hamburgerMenu-drop-down a .mobile-size-cart-quantity{
        color: var(--tertiary-color);
    }
    header .top-header .amazon-logo .amazon-link{
        display: none;
    }

    header .top-header .amazon-logo .desktop-logo{
        display: none;
    }
    header .top-header .amazon-logo .mobile-logo{
        display: block;
        height: 35px;
        width: 35px;
    }

    header .bottom-header{
        display: none;
    }
    main{
        padding-top: 60px;
    }
    main .row .product-container{
        flex: 0 0 50%;
    }
    footer .footer-bottom>div{
        flex: 0 0 70%;
    }

}
@media screen and (max-width: 450px){
    main .row .product-container{
        flex: 0 0 100%;
    }
}




