:root{
    --primary-ccolor: rgb(19, 25, 33);
    --secondary-color: rgb(254, 189, 105);
    --tertiary-color: rgb(240, 136, 4);
    --quaternary-color: rgb(255, 255, 255);
    --quinary-color: rgb(35, 47, 62);
    --senary-color: rgb(15, 17, 17);
    --seprator-color: #d5dbdb;
    --aside-hover-color : #eaeded;
    --close-color: rgb(114, 114, 114);

}
*,*::after,*::before{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    height: 400vh;
    /* background-color: red; */
}
.none{display: none !important;}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-ccolor);
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
header .top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-inline: 15px;
}
header .bottom-header{
    display: flex;
    background-color: var(--quinary-color);
    align-items: center;
    height: 40px;
    padding-left: 15px;
}




/* NOTE:style top header */
   
header .amazon-logo img{
    width: 100px;
    margin-top: 5px;
}
header .amazon-logo .amazon-link{
    display: block;
    width: 100%;
    padding: 6px;
}
header .amazon-logo .amazon-link:hover{
    border: 1px solid var(--quaternary-color);
}
header .amazon-logo .mobile-logo{
    display: none;
}
header .search-bar{
    display: flex;
    flex: 1 1 0%;
    max-width: 850px;
    margin-inline: 10px;
    /* background-color: red; */
}
header .search-bar .input-search-bar{
    flex: 1 1;
    width: 0;
    height: 38px;
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 1px 2px 1px 15px;
    font-size: 1.1em;

}
header .search-bar .search-button{
    border: none;
    cursor: pointer;
    padding:  1px 6px;
    background-color: var(--secondary-color);
    width: 45px;
    border-radius: 0 4px 4px 0;
    height: 38px;
}
header .shopping{
    display: flex;
    flex-basis: 180px;
    align-items: center;
    justify-content: end;
}


header .shopping .orders-links{
    color: var(--quaternary-color);
    text-decoration: none;
    padding: 6px;
    flex: 0.25;
}
header .shopping .orders-links:hover{
    border: 1px solid var(--quaternary-color);
}
header .shopping .cart-link{
    display: flex;
    align-items: center;
    position: relative;
    flex: 0.75;
}
header .shopping .cart-link{
    text-decoration: none;
    color: var(--quaternary-color);
    padding: 6px;
}
header .shopping .cart-link:hover{
    border: 1px solid var(--quaternary-color)
}
header .shopping .cart-link .shopping-icon{
    width: 50px;
}
header .shopping .cart-link .cart-quantity{
    color: var(--tertiary-color);
    position: absolute;
    top: 8px;
    left: 30px;
    font-size: 0.8em;
}



/* NOTE: style bottom-header */
header .bottom-header>a{
    text-decoration: none;
    color: var(--quaternary-color);
    padding: 11px;
    display: block;
    white-space: nowrap;
    transition: all 2s ease-in;
}
header .bottom-header a:not(.sign-in-aside):hover{
    border: 1px solid var(--quaternary-color);
}



/* NOTE: style sub-all */
header .bottom-header .sub-all{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
}
header .bottom-header .sub-all>div{
    line-height: 20px;
}
header .bottom-header .sub-all a{
    text-decoration: none;
    display: block;
    color: var(--senary-color);
    padding: 11px;
}
header .bottom-header .sub-all .container-hello-sign-in{
    background-color: var(--quinary-color);
    padding: 4px 30px;
}
header .bottom-header .sub-all .sign-in-aside{
    font-weight: bolder;
    font-size: 1.8em;
    color: var(--quaternary-color);
}

/* NOTE:hmenu-content container */
header .bottom-header .sub-all .hmenu-content{
    color: var(--senary-color);
    background-color: var(--quaternary-color);
}
header .bottom-header .sub-all .hmenu-content div{
    padding: 11px;
    font-weight: bolder;
}
header .bottom-header .sub-all .hmenu-content>ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}
header .bottom-header .sub-all .hmenu-content>ul>li{
    /* background-color: red; */
    display: block;
}
header .bottom-header .sub-all a:not(.sign-in-aside):hover{
    border: none;
    background-color: var(--aside-hover-color);
}
header .bottom-header .sub-all .hmenu-seprartor{
    border: 1px solid var(--seprator-color);
    padding: 0;
    margin-block: 5px;
}


/* NOTE: style close krdne sub-all */
.close{
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 200;
}
.close>i{
    color: var(--close-color);
    font-size: 20px;
}





/*NOTE: responsive */



/* NOTE: responsive 1200px */
@media screen and (max-width: 1200px){
    header .bottom-header{
        overflow: auto;
    }
}



/* NOTE: respnsive 768px */
@media screen and (max-width: 768px) {
    header .bottom-header{
        overflow: auto;
    }
    header .bottom-header{
        padding: 0;
        overflow-x: auto;
    }
}


/* NOTE: responsive 576px */
@media screen and (max-width: 576px){
    header{
        height: 60px;
    }
    header .top-header .amazon-logo .amazon-link{
        display: none;
    }

    header .top-header .amazon-logo .desktop-logo{
        display: none;
    }
    header .top-header .amazon-logo .mobile-logo{
        display: block;
        height: 35px;
        width: 35px;
    }

    header .bottom-header{
        display: none;
    }

}




